<div class="jumbotron" ng-app="helloWorldApp" ng-controller="mainController">
    <h1>You loaded this page at {{currentTime}}ASP.NET</h1>
    <section ng-repeat="book in books track by $index">
        {{book.Title}} written by {{book.Author}}. Or it would be if the view was properly set up.
    </section>
</div>